<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поставки</title>
    <link rel="stylesheet" type="text/css" href="../static/navigation.css" th:href="@{/navigation.css}" />
    <link rel="stylesheet" type="text/css" href="../static/tables.css" th:href="@{/tables.css}" />
    <link rel="stylesheet" type="text/css" href="../static/layout.css" th:href="@{/layout.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header class="container">
    <div>
        <ul class="navigation">
            <li><a href="/" class="btn_main" role="button"><i class="fa fa-home"></i></a></li>
            <li><a href="/products" class="btn_main" role="button">Товары</a></li>
            <li><a href="/deliveries" class="btn_main" role="button">Поставки</a></li>
            <li><a href="/suppliers" class="btn_main" role="button">Поставщики</a></li>
            <li><a href="/provision" class="btn_main" role="button">Выдачи</a></li>
            <li><a href="/customers" class="btn_main" role="button">Клиенты</a></li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="col-1">

    </div>

    <div class="col-2">
        <div class="content-tbl">
            <table class="tbl">
                <tr>
                    <th>Код поставщика</th>
                    <th>Код товара</th>
                    <th>Кол-во</th>
                    <th>Дата поставки</th>
                    <th>Срок хранения</th>
                </tr>
                <tr th:if="${#lists.isEmpty(deliveries)}">
                    <td colspan="16">Нет поставок</td>
                </tr>
                <tr th:each="deliv : ${deliveries}">
                    <td><a class="text-link" th:href="'/edit-delivery?id_delivery=' + ${deliv.getId_deliveries()}"><span th:text="${deliv.getId_supplier().id_supplier}"></span></a></td>
                    <td><span th:text="${deliv.getId_product().id_product}"></span></td>
                    <td><span th:text="${deliv.getCount_prod()}"></span></td>
                    <td><span th:text="${deliv.getDate_deliver()}"></span></td>
                    <td><span th:text="${deliv.getStorage_time()}"></span></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="content-btn">
            <ul class="navigation">
                <li><a href="/add-new-delivery" role="button">Добавить</a></li>
                <li><a href="/filter-delivery" role="button">Фильтровать</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>