<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить выдачу</title>
    <link rel="stylesheet" type="text/css" href="../static/navigation.css" th:href="@{/navigation.css}" />
    <link rel="stylesheet" type="text/css" href="../static/layout.css" th:href="@{/layout.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header class="container">
    <div>
        <ul class="navigation">
            <li><a href="/" class="btn_main" role="button"><i class="fa fa-home"></i></a></li>
            <li><a href="/products" class="btn_main" role="button">Товары</a></li>
            <li><a href="/deliveries" class="btn_main" role="button">Поставки</a></li>
            <li><a href="/suppliers" class="btn_main" role="button">Поставщики</a></li>
            <li><a href="/provision" class="btn_main" role="button">Выдачи</a></li>
            <li><a href="/customers" class="btn_main" role="button">Клиенты</a></li>
        </ul>
    </div>
</header>

<div class="container" id="for-cntr">
    <div class="col">
        <form action="/save-edit-provision" method="post">
            <div class="field-form">
                <input type="hidden" name="id_provision" th:value="${provision.getId_provision()}">
                <label class="all-text">Код клиента</label>
                <br>
                <input type="text" class="form-control" name="id_customer" th:value="${provision.getId_customer().id_customer}">
            </div>
            <div class="field-form">
                <br>
                <label class="all-text">Код товара</label>
                <br>
                <input type="text" class="form-control" name="id_product" th:value="${provision.getId_product().id_product}">
            </div>
            <div class="field-form">
                <br>
                <label class="all-text">Количество товара</label>
                <br>
                <input type="text" class="form-control" name="count_prod" th:value="${provision.getCount_prod()}">
            </div>
            <div class="field-form">
                <br>
                <label class="all-text">Дата выдачи</label>
                <br>
                <input type="date" class="form-control" name="date_prov" th:value="${provision.getDate_prov()}">
            </div>
            <div class="field-form">
                <br>
                <label class="all-text">Статус</label>
                <br>
                <input type="text" class="form-control" name="status" th:value="${provision.getStatus()}">
            </div>
            <br>
            <div>
                <button type="submit">Изменить</button>
                <ul class="navigation">
                    <li><a role="button" th:href="'/delete-provision?id_provision=' + ${provision.getId_provision()}">Удалить</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>
</body>
</html>